@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: slidein 100s;
    
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    animation: slidein 100s;
    background-size: cover;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

.center {
    background: rgba(75, 75, 250, 0.3);
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    display: flex;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.center h1 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    text-align: center;
    color: white;
}